:root {
    --color-primary: #f8baa1;
    --color-secondary: #053399;
    --color-off-white: #f4eeee;
    --color-facebook: #3b5998;
    --color-twitter: #00acee;
}

$sm: 640px;
$dsm: 639.99px;
$md: 768px;
$dmd: 767.99px;
$lg: 1024px;
$dlg: 1023.99px;
$xl: 1280px;
$dxl: 1279.99px;
$xxl: 1536px;
$dxxl: 1535.99px;
